<html>

<head>
    <title>the answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tocas.css') }}">
    <link rel='stylesheet' href='..\static\css\style.css'>
    <link rel='stylesheet' href='..\static\css\tocas.css'>
</head>

<body>
    <div class='center'>
        <div class='content'>
            <h2>The answer is {{answer}}, just like this</h2>
            <img src="{{ fuck }}" alt="替代文字一" title="範例圖片一">
            <br><br><br>
            <a href=goback><button class="ts pulsing button">back</button></a>
        </div>
    </div>
</body>

</html>